#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#container .content {
    width: 40%;
    padding: 100px 0;



}

#container .content iframe {
    width: 100%;
    margin: 15px 0;

}